.Contact {
    margin: 0 auto;
    background: whitesmoke;
    text-align: center;
    font-size: large;
    position: relative;
    top: 0;
    left: 0;
    width: 98%;
    height: 90vh;
    display: grid;
    place-items: center;
    align-items: center;
}